.image-front{
   width: 400px; 
   height: 400px;
   margin-top: -140px;
   border: 5px solid rgb(226, 230, 230)
        
}

img{
    width: 300px;
    height:300px;
    
    border-radius: 200px;
   }
 .orange{
    color:orange;
    font-family: Georgia,serif;
    background-color: black;
 }
 .pink{
    color:pink;
    font-family: Georgia,serif;
    background-color: black;
 }
 .red{
    color:red;
    font-family: Georgia,serif;
    background-color: black;
 }
 .sky{
    color: skyblue;
    background-color: black;
 }
 .upper-row{
   color:antiquewhite;
   height: 30px;
}
 .green{
    color: rgb(26, 243, 11);
    font-family: Georgia,serif;
    background-color: black;
 }
   body{
    text-align: center;
    background-color: rgb(2, 2, 61);
   }

   h1{
       border-radius: 5px;
      
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       background-color: yellow;
   }

   h2{
       color: rgb(13, 51, 1);
       padding: 5px 5px 6px;
       display: inline-block;
       font-family: 'Times New Roman', Times, serif;
       background-color: rgb(243, 246, 241);
       border-radius: 50px;
    }

    .bill-gates{
      width: 90px; 
      height: 90px;
     
      border: 3px solid rgb(230, 230, 12)
    }
   
 
    #nextlevel{
        color: rgb(53, 7, 7);
        text-align: left;
       background-color: aquamarine;
        }
     
    #offercase{
        color: rgb(53, 7, 7);
        text-align: left;
       background-color: aquamarine;
    }
    
    p{
        color: wheat;
        font-size: 25px;
    }
   a{
    color:rgb(4, 4, 33);
    margin-top: -25px;
    padding: 12px;
    background-color: rgb(230, 238, 145);
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 7px;
    border: 5px solid rgb(242, 234, 5)
    }

    main{
     
        width: -200px;
        margin: 120px 300px 100px 350px; 
        background-color: rgb(42, 138, 165);
        padding: 24px;
        border-radius: 10px;
        border: 5px solid rgb(5, 171, 242)
        
    }
   